<header class="header">
  <div class="left">
    <h1 class="title"><a class="link" routerLink="article/list" routerLinkActive="active">DFJS</a></h1>

    <nav class="nav">
      <ul class="list">
        <li><a class="link" routerLink="article/list" routerLinkActive="active">Article list</a></li>
        <li><a class="link" routerLink="article/create" routerLinkActive="active">Create article</a></li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <nav class="nav">
      <ul class="list">
        <li><a class="link" routerLink="login" routerLinkActive="active">Login</a></li>
        <li><a class="link" routerLink="register" routerLinkActive="active">Register</a></li>
      </ul>
    </nav>
  </div>
</header>