<div class="container">
  <form class="form" action="" method="post" (ngSubmit)="register()" [formGroup]="form">
    <h2 class="title">Register</h2>

    @if (serverError()) {
    <mat-error>{{ serverError() }}</mat-error>
    }

    <mat-form-field appearance="outline">
      <mat-label>Enter your username</mat-label>
      <input matInput placeholder="E.g. adriangalan" formControlName="username">
      @if (form.controls.username.hasError('required')) {
      <mat-error>You must enter a username</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password">
      <button type="button" matIconButton matSuffix (click)="hidePassword($event)" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (form.controls.password.hasError('required')) {
      <mat-error>You must enter a password</mat-error>
      }
    </mat-form-field>

    <button matButton="outlined" type="submit" [disabled]="form.invalid">Register</button>
  </form>
</div>