.card {
  width: 300px;
  height: 100%;
  background-color: lightgray;
  border: none;
  transition: transform .3s ease-out;
  will-change: transform;
}

.card.sale {
  background-color: pink;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  border-radius: .5rem .5rem 0 0;
}

.metadata {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.heading {
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.name {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.price {
  padding: .7rem;
  background-color: lightyellow;
  border-radius: 50%;
  font-size: 1.5rem;
}

.price.notSale {
  color: gray;
}

.onSale {
  color: palevioletred;
  margin: 0;
}

.onSale.sale {
  color: white;
  background-color: palevioletred;
  box-shadow: 2px 4px 10px palevioletred;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
}

.cart {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.quantity,
.decrement,
.increment {
  font-size: 1.5rem;
  padding: .5rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.decrement,
.increment {
  padding: .5rem 1rem;
  background-color: whitesmoke;
}

.decrement:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}